<div class="container-xl" style="border-radius: 5px;">
	<div class="row justify-content-center">
		<div class="card" style="width: 50rem;">
        	<h3 class="card-header text-center"><%= @gossip.title %></h3>
    		<div class="card-body text-center">
     		   	<p class="card-text"><%= @gossip.content %></p>
					<div class="btn-group">
            			<%= link_to "Modifier ", edit_gossip_path(@gossip.id), :class=>"btn btn-warning" %>
             			<%= link_to "Supprimer", @gossip, method: :delete, data: {confirm: 'Supprimer définitivement le potin ?'}, :class=>"btn btn-danger" %>
					</div>
   			</div>
				<table class="table table-hover text-muted">
					<tr class="table-primary">
						<th scope="row">Auteur</th>
						<th><%= @gossip.user.first_name %> <%= @gossip.user.last_name %></th>
					</tr>
					<tr class="table-secondary">
						<th scope="row">Ville</th>
						<th><%= @gossip.user.city.name %></th>
					</tr>
					<tr>
						<th scope="row">Crée le</th>
						<th><%= @gossip.created_at %></th>
					</tr>
					<tr>
						<th scope="row">Derniere modification</th>
						<th><%= @gossip.updated_at %></th>
					</tr>
				</table>
	</div>
	</div>
</div>

