<div class="container-fluid bg-dark text-center text-white">
	<div class="row text-center">
		<div class="card bg-black" style="width: 300px;">
    	<div class="card-body text-center">
        	<h5 class="card-title"><%= @user.first_name %><%= @user.last_name %></h5>
        	<p class="card-text"><%= @user.description %></p>
        	<p class="card-text">age : <%= @user.age %></p>
        	<a class="btn btn-primary"><%= @user.email %></a>
   		</div>
	</div>
	</div>
</div>

